PORT = 3000

PG_HOST = localhost
PG_PORT = 5432
PG_USER = postgres
PG_NAME = erp
PG_PASSWORD= 1101

USER_EMAIL= ajavohir545@gmail.com
APP_PASSWORD=xoyo rmhx maxn cwzs


ACCESS_SECRET = 12345678
REFRESH_SECRET = 87654321
ACCESS_SECRET_TIME = 1h
REFRESH_SECRET_TIME = 10h


CLIENT_ID = 1064172347820-kkfrsaa532qug4o8jblts25ovb4vs553.apps.googleusercontent.com
CLIENT_SECRET = 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
